* {
  font-family: "Bebas Neue", cursive;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(to right, #ff1818, #780678);
}

h2 {
  margin: 0;
}

main {
  position: relative;
  display: flex;
}

.left {
  background-color: rgba(255, 255, 255, 0.7);
  width: 400px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.right {
  background-color: rgba(255, 255, 255, 0.5);
  height: 500px;
  width: 400px;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.newgame {
  font-size: 1rem;
  position: absolute;
  left: 42.5%;
  top: 10%;
  padding: 0.5rem 1.5rem;
  border-radius: 1.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 10px black;
}

.dice_ {
  padding: 0.5rem 2.5rem;
  left: 41%;
  top: 70%;
}

.dice_[disabled],
.hold[disabled] {
  cursor: not-allowed;
}
.hold {
  left: 45%;
  top: 80%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top .player {
  font-size: 3.5rem;
}

.top .score {
  font-size: 3rem;
  color: #c21010;
}

.bottom {
  color: white;
}

.score__div {
  height: 5rem;
  border-radius: 0.5rem;
  background-color: rgba(211, 15, 15, 0.658);
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bottom .score__div .current {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.bottom .score__div .current__score {
  font-size: 2rem;
}

.game {
  position: relative;
  width: auto;
  height: 100%;
}

.container {
  position: relative;
  display: inline-block;
  top: 200px;
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}

.dice-one {
  position: absolute;
  left: 350px;
}

.side {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(3.1em);
}

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em);
}

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em);
}

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em);
}

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em);
}

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em);
}

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}

.show-2 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}

.show-3 {
  transform: rotateY(810deg) rotateZ(720deg);
}

.show-4 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-5 {
  transform: rotateX(450deg) rotateZ(-720deg);
}

.show-6 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 20%;
  left: 20%;
}

.four-3,
.five-3,
.six-4 {
  top: 20%;
  left: 80%;
}

.one-1,
.three-2,
.five-5 {
  top: 50%;
  left: 50%;
}

.four-2,
.five-2,
.six-3 {
  top: 80%;
  left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  top: 80%;
  left: 80%;
}

.six-2 {
  top: 50%;
  left: 20%;
}

.six-5 {
  top: 50%;
  left: 80%;
}
/* 
.animate {
  position: absolute;
  top: 50%;
  left: 30%;
} */
